Repository Abhishek29192/bmi-next: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install, license_finder

.gitlab-ci.yml:

include:
  - local: "/.gitlab/images.gitlab-ci.yml"
  - local: "/.gitlab/build.gitlab-ci.yml"
  - local: "/.gitlab/dependabot.gitlab-ci.yml"
  - local: "/.gitlab/functions.gitlab-ci.yml"
  - local: "/.gitlab/static-analysis.gitlab-ci.yml"
  - local: "/.gitlab/test.gitlab-ci.yml"
  - local: "/applications/frc-website/.gitlab-ci.yml"
  - local: "/applications/dxb/.gitlab-ci.yml"
  - local: "/applications/intouch/.gitlab-ci.yml"
  - local: "/applications/redirects-website/.gitlab-ci.yml"
  - local: "/applications/redirects-website-fr-siplast/.gitlab-ci.yml"
  - local: "/applications/redirects-website-fr-monier/.gitlab-ci.yml"
  - local: "/components/.gitlab-ci.yml"
  - local: "/functions/.gitlab-ci.yml"
  - local: "/libraries/.gitlab-ci.yml"

image: !reference [.node-full-image, image]

stages:
  - install
  - audit
  - static analysis
  - test
  - build
  - release
  - migration
  - package
  - deploy
  - deploy_gateway
  - terraform_plan
  - terraform_execute
  - dynamic security
  - lighthouse scan
  - post deploy

workflow:
  rules:
    - if: "$CI_MERGE_REQUEST_LABELS =~ /.*Disable Builds.*/"
      when: never
    - when: always

default:
  cache:
    key:
      files:
        - modules-sha
    policy: pull
    untracked: false
    paths:
      - "**/node_modules"
      - ".yarn_cache"

variables:
  ARTIFACT_COMPRESSION_LEVEL: fastest
  CACHE_COMPRESSION_LEVEL: fastest
  FF_USE_FASTZIP: "false"
  NODE_OPTIONS: --max-old-space-size=2560
  POSTGRES_DB: custom_db
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: custom_pass
  POSTGRES_HOST_AUTH_METHOD: trust
  TRANSFER_METER_FREQUENCY: 5s

install:
  stage: install
  rules:
    - if: "$CI_PIPELINE_SOURCE == 'merge_request_event' || ($CI_PIPELINE_SOURCE == 'push' && $CI_COMMIT_BRANCH == 'master') || $CI_COMMIT_TAG"
      changes:
        - modules-sha
  before_script:
    - yarn config set cache-folder ${PWD}/.yarn_cache
  script:
    - yarn install --frozen-lockfile --check-files
  cache:
    key:
      files:
        - modules-sha
    untracked: false
    paths:
      - "**/node_modules"
      - ".yarn_cache"
    policy: push

#  https://github.com/pivotal/LicenseFinder
# Remove report arg when we want this job to fail
# Remove installing node 12 when https://github.com/pivotal/LicenseFinder/issues/812 is resolved
license_finder:
  stage: audit
  rules:
    - if: "$CI_PIPELINE_SOURCE == 'merge_request_event' || ($CI_PIPELINE_SOURCE == 'push' && $CI_COMMIT_BRANCH == 'master')"
      changes:
        - doc/dependency_decisions.yml
        - yarn.lock
  needs: []
  image: licensefinder/license_finder:latest
  cache: {}
  before_script:
    - source ~/.bash_profile
    - yarn config set cache-folder ${PWD}/.yarn_cache
  script:
    - license_finder action_items --format html > license_finder_output.html
  artifacts:
    paths:
      - license_finder_output.html
    when: always

release:
  stage: release
  rules:
    - if: "$CI_PIPELINE_SOURCE == 'push' && ($CI_COMMIT_BRANCH == 'pre-production' || $CI_COMMIT_BRANCH == 'production')"
  before_script:
    - yarn config set cache-folder ${PWD}/.yarn_cache
  script:
    - yarn run semantic-release

feat(head): add cta to brand landing page
  applications/dxb/head/src/schema/schema.graphql
  applications/dxb/head/src/templates/__tests__/__snapshots__/brand-landing-page.test.tsx.snap
  applications/dxb/head/src/templates/__tests__/brand-landing-page.test.tsx
  applications/dxb/head/src/templates/brand-landing-page.tsx
Due: none

fix(gatsby-preview-on-sc-page): fix rendering sc page on preview mode
  applications/dxb/head/src/components/Page.tsx
Due: none

fix(es-pim-products-ingest): move tests for updateElasticSearch
  applications/dxb/functions/es-pim-products-ingest/src/__tests__/index.test.ts
  applications/dxb/functions/es-pim-products-ingest/src/__tests__/updateElasticSearch.test.ts
  applications/dxb/functions/es-pim-products-ingest/src/deleteESItemByCode.ts
  applications/dxb/functions/es-pim-products-ingest/src/index.ts
  applications/dxb/functions/es-pim-products-ingest/src/types.ts
Due: none

fix(plp): hide no results test on products loading
  applications/dxb/head/src/templates/productListerPage/components/product-lister-page.tsx
Due: none

fix(*): layer number as string
  applications/dxb/head/src/components/types/pim.ts
  applications/dxb/head/src/schema/schema.graphql
  applications/dxb/head/src/templates/systemDetails/__tests__/__snapshots__/systemDetailsPage.test.tsx.snap
  applications/dxb/head/src/templates/systemDetails/systemLayersSection.tsx
  applications/dxb/head/src/test/systemDetailsMockData.ts
  applications/dxb/libraries/pim-types/src/SystemLayersHelper.ts
  applications/dxb/libraries/pim-types/src/types.ts
Due: none

fix(head): prevent unknown image types breaking build
  applications/dxb/head/src/__tests__/AssetTypeHelper.ts
  applications/dxb/head/src/components/DocumentSimpleTableResultsMobile.tsx
  applications/dxb/head/src/components/_MobileDocumentTechnicalTableResults.tsx
  applications/dxb/head/src/components/__tests__/DocumentSimpleTableResultsMobile.test.tsx
  applications/dxb/head/src/components/__tests__/_MobileDocumentTechnicalTableResults.test.tsx
  applications/dxb/head/src/components/__tests__/__snapshots__/DocumentSimpleTableResultsMobile.test.tsx.snap
  applications/dxb/head/src/components/__tests__/__snapshots__/_MobileDocumentTechnicalTableResults.test.tsx.snap
  modules-sha
Due: install

fix(gcp-firestore-writer): case with system without layer handled
  applications/dxb/functions/gcp-firestore-writer/src/__tests__/index.test.ts
  applications/dxb/functions/gcp-firestore-writer/src/index.ts
Due: none

fix(*): fix head tests
  applications/dxb/head/src/components/service-locator-section/__tests__/ServiceLocatorResultList.test.tsx
  applications/dxb/head/src/templates/__tests__/general-error.test.tsx
  applications/dxb/head/src/templates/__tests__/sitemap.test.tsx
  applications/dxb/head/src/templates/systemDetails/__tests__/aboutLeadBlock.test.tsx
Due: none

fix(*): fix head tests
  applications/dxb/head/src/templates/__tests__/search-page.test.tsx
Due: none

fix(*): fix head tests
  applications/dxb/head/src/components/__tests__/__snapshots__/SystemConfiguratorSection.test.tsx.snap
  modules-sha
  yarn.lock
Due: install, license_finder

fix(*): remove snapshot testing for search page
  applications/dxb/head/src/templates/__tests__/__snapshots__/search-page.test.tsx.snap
  applications/dxb/head/src/templates/__tests__/search-page.test.tsx
Due: none

fix(*): fix flaky test
  applications/dxb/head/src/templates/__tests__/search-page.test.tsx
  modules-sha
  package.json
  yarn.lock
Due: install, license_finder

fix(*): fix eslint errors
  applications/dxb/head/src/__tests__/filterDocuments.test.ts
  applications/dxb/head/src/__tests__/filters.test.ts
  applications/dxb/head/src/components/DocumentSimpleTableResults.tsx
  applications/dxb/head/src/components/DocumentSimpleTableResultsMobile.tsx
  applications/dxb/head/src/components/KeyAssetTypesDownloadSection.tsx
  applications/dxb/head/src/components/LinkColumnsSection.tsx
  applications/dxb/head/src/components/PromoSection.tsx
  applications/dxb/head/src/components/__tests__/DocumentResults.test.tsx
  applications/dxb/head/src/components/pitched-roof-calculator/PitchedRoofCalculator.tsx
  applications/dxb/head/src/components/pitched-roof-calculator/_PitchedRoofCalculatorSteps.tsx
  applications/dxb/head/src/components/service-locator-section/index.tsx
  applications/dxb/head/src/components/visualiser/Visualiser.tsx
  applications/intouch/frontend/components/Pages/ProductSystem/ListTab.tsx
  applications/intouch/frontend/components/Pages/Project/TechnologyInput.tsx
  applications/intouch/frontend/components/SetCompanyDetailsDialog/SetTradingAddress.tsx
  components-delete-me/src/card-checkbox-group/CardCheckboxGroup.tsx
  components-delete-me/src/card-radio-group/CardRadioGroup.tsx
  components-delete-me/src/geolocation-button/GeolocationButton.tsx
  components-delete-me/src/table/Table.tsx
Due: none

fix(*): skip flaky test
  applications/dxb/head/src/templates/__tests__/__snapshots__/search-page.test.tsx.snap
  applications/dxb/head/src/templates/__tests__/search-page.test.tsx
Due: none

fix(*): fix intouch tests
  applications/intouch/frontend/__tests__/pages/__snapshots__/training.test.tsx.snap
  applications/intouch/frontend/__tests__/pages/training.test.tsx
Due: none

fix(*): fix dockerfile
  applications/intouch/frontend/dockerfile
Due: none

fix(*): fix intouch build
  applications/intouch/frontend/components/Notification/index.tsx
  applications/intouch/frontend/dockerfile
  applications/intouch/frontend/package.json
  components-delete-me/package.json
  components-delete-me/tsconfig.json
  modules-sha
  yarn.lock
Due: install, license_finder

fix(*): fix all
  applications/dxb/functions/gcp-pim-full-fetch-coordinator/src/__tests__/elasticsearch.test.ts
  applications/dxb/head/src/components/__tests__/__snapshots__/DocumentCardsResults.test.tsx.snap
  applications/dxb/head/src/components/__tests__/__snapshots__/Header.test.tsx.snap
  applications/dxb/head/src/components/__tests__/__snapshots__/ImageGallerySection.test.tsx.snap
  applications/dxb/head/src/components/__tests__/__snapshots__/OverlapCards.test.tsx.snap
  applications/dxb/head/src/components/__tests__/__snapshots__/Sections.test.tsx.snap
  applications/dxb/head/src/components/__tests__/__snapshots__/TeamList.test.tsx.snap
  applications/dxb/head/src/templates/__tests__/__snapshots__/brand-landing-page.test.tsx.snap
  applications/dxb/head/src/templates/__tests__/__snapshots__/contact-us-page.test.tsx.snap
  applications/dxb/head/src/templates/productListerPage/__tests__/__snapshots__/ProductListerPage.test.tsx.snap
  applications/frc-website/src/components/flat-roof-calculator/__tests__/MeasurementsSection.test.tsx
  applications/intouch/frontend/dockerfile
  applications/redirects-website-fr-monier/gatsby-config.js
  applications/redirects-website-fr-siplast/gatsby-config.js
  applications/redirects-website/gatsby-config.js
Due: none

fix(*): fix intouch and pipeline
  applications/intouch/frontend/__tests__/pages/__snapshots__/training.test.tsx.snap
  applications/intouch/frontend/__tests__/pages/training.test.tsx
Due: none

fix(*): increase timeout
  applications/dxb/head/src/templates/__tests__/search-page.test.tsx
Due: none

fix(*): fix license finder
  modules-sha
  package.json
  yarn.lock
Due: install, license_finder

fix(*): fix flaky test
  applications/dxb/head/src/templates/__tests__/search-page.test.tsx
Due: none

build(*): fix intouch builds
  applications/intouch/api/gateway/dockerfile
  applications/intouch/api/services/companies/dockerfile
  applications/intouch/api/services/training/dockerfile
Due: none

build(components): revert GitLab config to match what it was before
  components/.gitlab-ci.yml
Due: none

build(*): fix intouch build
  applications/intouch/api/gateway/src/index.ts
  applications/intouch/api/services/companies/src/index.ts
  applications/intouch/api/services/training/src/index.ts
Due: none

build(components): fix GitLab CI config
  .gitlab-ci.yml
Due: none

build(*): fix license finder
  doc/dependency_decisions.yml
Due: license_finder

build(*): fix broken build
  applications/dxb/functions/gcp-pim-full-fetch-coordinator/src/__tests__/elasticsearch.test.ts
  applications/dxb/head/src/templates/simplePage/__tests__/__snapshots__/simple-page.test.tsx.snap
  applications/intouch/api/gateway/package.json
  applications/intouch/api/services/companies/package.json
  applications/intouch/api/services/training/package.json
Due: none

fix(*): rebase with master
  modules-sha
  yarn.lock
Due: install, license_finder

fix(*): layer number as String
  applications/dxb/head/src/schema/schema.graphql
Due: none

fix(*): do not copy files to node_modules
  components/package.json
Due: none

IRP-1103: improve [project] page tests coverage
  applications/intouch/frontend/__tests__/pages/__snapshots__/project.test.tsx.snap
  applications/intouch/frontend/__tests__/pages/project.test.tsx
  applications/intouch/frontend/components/ProjectSidePanel/__tests__/__snapshots__/index.test.tsx.snap
  applications/intouch/frontend/components/ProjectSidePanel/index.tsx
  applications/intouch/frontend/lib/tests/utils.tsx
Due: none

test(intouch-frontend): additional test cases for project page
  applications/intouch/frontend/__tests__/pages/__snapshots__/project.test.tsx.snap
  applications/intouch/frontend/__tests__/pages/project.test.tsx
  applications/intouch/frontend/lib/tests/factories/project.ts
Due: none

IRP-1103: remove finding in projects from activeProject
  applications/intouch/frontend/pages/projects/[[...project]].tsx
Due: none
